<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.openmf"
    android:versionCode="15"
    android:versionName="1.5" >

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="25" />
    <library android:name="OpenMF"/>

</manifest>
